[submodule "toolchains/arm"]
	path = toolchains/arm
	url = git@github.com:prismskylabs/arm.git
[submodule "toolchains/mips"]
	path = toolchains/mips
	url = git@github.com:prismskylabs/mips.git
[submodule "opt/cpr"]
	path = opt/cpr
	url = git@github.com:whoshuu/cpr.git
[submodule "opt/json"]
	path = opt/json
	url = git@github.com:nlohmann/json.git
[submodule "opt/fmt"]
	path = opt/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "opt/opencv"]
	path = opt/opencv
	url = git@github.com:prismskylabs/opencv.git
